---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav class="h-16 mx-auto block max-w-screen-lg flex items-center gap-3">
		<a href="/" class="!text-black text-lg">{SITE_TITLE}</a>

		<div class="grow" />

		<a href="/about" class="!text-black">About</a>
		<a href="/projects" class="!text-black">Projects</a>
	</nav>
</header>
